body{
    margin : 0;
    background-color: rgb(0, 0, 0);
}

.menu{
    display : flex;
    background-color: rgb(70, 70, 70);
    width : 270px;
    height: 752px;
    flex-direction: column;

}

.DotoriMark{
    margin-left: 48px;
    margin-top: 32px;
    width : 150px ; height : 150px;
}

.page li{
    list-style: none;
    font-style: normal;
    margin-top: 36px; margin-left: 23px;
    margin-bottom: 14px; margin-right: 18px;
}

.menu a{
    text-decoration: none;
    color : rgb(188, 188, 188);
    font-size : 24px;
    font-weight: 800;
}

.thereishome{
    position : absolute;
    left:320px; top:36px;
    font-size: 54px;
    font-weight: 700;
    color:white;
}

.Date{
    color : white;
    position : relative;
    left: 74px; bottom : 35px;
    font-size : 22px;
    font-weight : 500;
}
.clean{
    position : absolute;
    top: 125px;
    left : 310px;
    background-color: rgba(230, 230, 230, 0.327);
    width: 1180px;
    height : 100px;
    border-radius: 16px;
}
.info{
    padding-top: 8px;
    padding-left : 28px;
    font-size: 26px;
    font-weight: 700;
    color: white; 
}

.identity{
    background-color: rgba(230, 230, 230, 0.259);;
    border: 3px solid royalblue;
    position: absolute;
    top: 259px;
    left: 311px;;
    width: 350px;
    height: 455px;
    border-radius: 16px;
    margin : 0;
    padding:0;
}

.ident{
    position: relative;
    top: 1px;
    left:18px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 14px;
    color : white;
    height : 50px;
    width: 250px;
    margin-right:0;
}

.logout{
    position: relative;
    color:rgba(200, 193, 193, 0.9);
    left: 269px;
    bottom: 170px;
    height : 20px;
    width: 280px;
    display: inline;
}

.DotoriMe{
    position:relative;
    bottom: 20px;
    left : 40px;
}

.identity_name{
    color : white;
    display: inline;
    position: relative;
    top: 40px;
    right:88px;
    font-weight: 700;
    font-size : 20px;
    width : 100px;
    height:30px;

}

.identity_number{
    color:rgba(162, 160, 160, 0.978);
    display: inline;
    position: relative;
    top: 38px;;
    right: 60px;
    font-size: 17px;
    height: 30px;
    font-weight: 700;
}

.violation{
    background-color: royalblue;
    color:white;
    width : 150px;
    height:32px;
    position:relative;
    top: 73px;
    display: inline;
    left : 104px;
    border-radius: 8px;
    font-weight: 600;
    font-size : 102%;
    cursor : pointer;
}

.violation:hover{
    background-color: white;
    border : 3px solid royalblue;
    color:royalblue;
}

.ChangePassword{
    color:gray;
    position: absolute;
    left: 128px;
    bottom:95px;
    font-weight: 600;
    font-size : 97%;
}

.Madein{
    font-size: 70%;
    position:absolute;
    bottom:37px;
    left: 63px;
    color:rgb(255, 255, 255);
}

#MadeinLink{
    font-size:10px;
    position:absolute;
    bottom: 21px;
    left: 105px;
}

#MadeinLink a{
    text-decoration: none;
    color: skyblue;
    
}

.selfstudy{
    position : absolute;
    top:258px;
    left:710px;
    display: flex;
    width:420px;
    height:218px;
    background-color: rgba(230, 230, 230, 0.259);
    border : 3px solid royalblue;
    border-radius: 16px;
    justify-content: space-between;
}

.selfstudy .self_study_reserve{
    margin : 12px 14px;
    font-weight: 700;
    font-size:20px;
    color : white;
}

.selfstudy .look_reserve{
    margin : 14px 16px;
    color : rgb(184, 184, 184);
    font-weight : 500;
}

.selfstudy .count_reserve{
    position:relative;
    top:150px;
    margin-bottom: 20px;
}
.selfstudy .count_reserve .reserve_btn{
    width : 112px;
    height : 34px;
    font-size:18px; font-weight: 600;
    color : white;
    background-color: royalblue;
    border : 1px solid royalblue;
    border-radius: 6px;
}
.selfstudy .count_reserve .reserve_btn:hover{
    cursor : pointer;
    background-color: white;
    color : royalblue;
    border: 3px solid royalblue;
}
div > progress{
    display: flex;
    position: inherit;
    width : 232px;
    top : 130px;
    left : 93px;
    height: 20px;
}
.selfstudy .count_reserve_value{
    position: inherit;
    display: flex;
    font-size : 48px;
    font-weight: 600;
    width : 200px;
    height: 50px;
    color: white;
    top: 65px;
    left:140px;
}
.selfstudy .notice_reserve{
    color : rgb(172, 172, 172);
    position: inherit;
    display: inline;
    top: 188px;
    left : 93px;
    font-size : 13px;
}
.chair{
    position : absolute;
    top:512px;
    left:710px;
    display: flex;
    width:420px;
    height:200px;
    background-color: rgba(230, 230, 230, 0.259);
    border : 3px solid royalblue;
    border-radius: 16px;
    justify-content: space-between;
}

.chair .chair_text{
    display: flex;
    margin : 12px;
    color : white;
    font-size :18px;
    font-weight: 600;
}

.chair .chair_reserve_count{
    margin : 12px 16px;
    color : rgb(184, 184, 184);
    font-weight : 500;
}

